@charset "UTF-8";
/*
    em HTML é id = em CSS é #
*/    
body {
    background-color: aquamarine;
    font-family: sans-serif;
}
h1 {
    color: darkgreen;
}
h2 {
    color: darkolivegreen;
}
h1#principal {
    text-align: center;
}
.basico {
    color: darkgreen;
}
.intermediario {
    color: goldenrod;
}
.avançado {
    color: brown;
}